.copyrigthSection {
    border-top: 1px solid #B1B1B1;
    height: 120px;
    font-family: "Poppins", sans-serif;

    .copyrightBox {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .copyrightTxt {
            p {
                margin-bottom: 0px;
                font-size: 14px;
                line-height: normal;
                color: rgb(255, 255, 255, 0.6);
            }
        }
    }

    .copyrightTxt1 {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

@media only screen and (min-width:600px) and (max-width: 1200px) {
    .copyrigthSection {
        height: 90px;

        .copyrightBox {
            .copyrightTxt {
                p {
                    margin-bottom: 0px;
                    font-size: 12px;
                }
            }
        }

        .copyrightTxt1 {

            ul {
                li {
                    margin-left: 15px;

                    a {
                        font-size: 12px;
                        padding-right: 15px;
                    }

                }
            }
        }
    }
}

@media only screen and (min-width: 0px) and (max-width: 599px) {
    .copyrigthSection {
        height: auto;
        padding: 20px 0px;

        .copyrightBox {
            .copyrightTxt {
                text-align: center;
                width: 100%;

                p {
                    margin-bottom: 0px;
                    font-size: 12px;
                }
            }
        }

        .copyrightTxt1 {
            display: none;
        }
    }
}